@model IEnumerable<FoodOrder.Models.RatingModel>

<h2>Quản lý bình luận</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Bình luận</th>
            <th>Đánh giá</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td>@comment.Id</td>
                <td>@comment.Name</td>
                <td>@comment.Comment</td>
                <td>@comment.Star</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(".btn-add-shipping").on("click", function () {
                var tinh = $("#tinh").find("option:selected").text();
                var quan = $("#quan").find("option:selected").text();
                var phuong = $("#phuong").find("option:selected").text();

                var price = $("#price-shipping").val();
                if (tinh == "" || quan == "" || phuong == "" || price == "") {
                    alert("Làm ơn ko bỏ trống");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddShipping", "Shipping")",
                        data: { tinh: tinh, quan: quan, phuong: phuong, price: price },
                        success: function (result) {
                            if (result.success) {
                                alert("Thêm vận chuyển thành công");
                                Location.load();

                            } else if (result.duplicate) {
                                alert("Có lỗi");

                            }


                        }



                    });

                }
            });


        </script>

        <script>
            $(document).ready(function () {
                //Lấy tỉnh thành
                $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                    if (data_tinh.error == 0) {
                        $.each(data_tinh.data, function (key_tinh, val_tinh) {
                            $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                        });
                        $("#tinh").change(function (e) {
                            var idtinh = $(this).val();
                            //Lấy quận huyện
                            $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                                if (data_quan.error == 0) {
                                    $("#quan").html('<option value="0">Quận Huyện</option>');
                                    $("#phuong").html('<option value="0">Phường Xã</option>');
                                    $.each(data_quan.data, function (key_quan, val_quan) {
                                        $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                    });
                                    //Lấy phường xã
                                    $("#quan").change(function (e) {
                                        var idquan = $(this).val();
                                        $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                            if (data_phuong.error == 0) {
                                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                                $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                    $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                                });
                                            }
                                        });
                                    });

                                }
                            });
                        });

                    }
                });
            });
        </script>
    }
}