@model IEnumerable<FoodOrder.Models.Order.OrderDetail>

@{
    ViewData["Title"] = "order detail";
    double total = 0;
    double subtotal = 0;

}
<h3>
   Chi tiết đơn hàng
</h3>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã chi tiết đơn hàng</th>
            <th scope="col">Tên</th>
            <th scope="col">Món ăn</th>
            <th scope="col">Số lượng bán</th>
            <th scope="col">Gía bán</th>
            <th scope="col">Thành tiền</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity_Sold * item.Sold; 
             total += subtotal; 
            <tr>
                <input asp-for="@item.OrderCode" class="getId" type="hidden" />
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>
                <td>@item.Order.UserName</td>
                <td>@item.Food.Title</td>
               
                <td>@item.Quantity_Sold</td>
                <td>@item.Sold</td>
                <td>@subtotal.ToString("C")</td> 


            </tr>

        }
        </br>
        <tr>
            <th colspan="5">Tổng tiền:</th>
             <td>@total.ToString("#,##0 VND")</td> 
            
             <td>
                @if(ViewBag.Status != 3)
                {
                    <select class="form-control select-update-order">
                        @if( ViewBag.Status ==0){
                            <option disabled value="1">Đơn hàng mới</option>
                            <option value="0">Đã xử lý</option>
                        }
                        else{

                            <option  value="1">Đơn hàng mới</option>
                            <option value="0">Đã xử lý</option>
                            }
                        </select>
                }

                    
                

               
            </td>
        </tr>
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".select-update-order").change(function () {
                var status = $(this).val();
                var ordercode = $(".getId").val();
                // alert(status);
                // alert(ordercode);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },
                    success: function (result) {
                        if (result.success) {
                            alert("Cập nhật đơn hàng thành công");
                        } else {
                            alert("Cập nhật đơn hàng không thành công: " + result.message);
                        }
                    },
                    error: function (req, status, error) {
                        alert("Error updating order: " + error);
                    }
                });
            });
        });
    </script>
}

