@model IEnumerable<FoodOrder.Models.ViewModels.UserWithRoleViewModel>

@{
    ViewData["Title"] = "Uer Listed";
}
<h3>
    Danh sách tài khoản
</h3>
<a asp-action="Create" asp-controller="User">Thêm mới tài khoản</a>
<table class="table table-light" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">Email</th>
            <th scope="col">password hash</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            <tr>
                <th scope="row">@userWithRoles.User.Id</th>
                <td>@userWithRoles.User.UserName</td>
                <td>@userWithRoles.User.Email</td>

                <td>@userWithRoles.User.PasswordHash</td>
                <td>@userWithRoles.User.PhoneNumber</td>
                <td>@userWithRoles.RoleName</td>

                <td>
                    <a asp-action="Edit" asp-controller="User" asp-route-Id="@userWithRoles.User.Id" class="btn btn-warning">sửa </a>
                    <a asp-action="Delete" asp-controller="User" asp-route-Id="@userWithRoles.User.Id" class="btn btn-danger confirmDeletion">Xóa</a>
                </td>
            </tr>

        }
    </tbody>
</table>
