@model IEnumerable<FoodModel>

@{
    ViewData["Title"] = "Food Listed";
}



<div class="card">
    <div class="card-body">
        <div class="d-lg-flex align-items-center mb-4 gap-3">
            <div class="position-relative">
                <input type="text" class="form-control ps-5 radius-30" placeholder="Search "
                       fdprocessedid="zfepxg"> <span class="position-absolute top-50 product-show translate-middle-y">
                    <i class="bx bx-search"></i>
                </span>
            </div>
            <div class="ms-auto">
                <a asp-action="Create" asp-controller="Food" class="btn btn-primary radius-30 mt-2 mt-lg-0">
                    <i class="bx bxs-plus-square"></i>Thêm món ăn
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table id="myTable" class="table mb-0">
                <thead class="table-light">
                    <tr>
                        <th class="text-center" data-sortable="true">#</th>
                        <th class="text-center" data-sortable="true">Tên món ăn</th>
                        <th class="text-center" data-sortable="true">Hình ảnh</th>
                        <th class="text-center" data-sortable="true">Tên Danh mục</th>
                        <th class="text-center" data-sortable="true">Trạng Thái</th>
                        <th class="text-center" data-sortable="true">Manager</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-index="0">
                            <td class="text-center align-middle">@item.Id</td>
                            <td class="text-center align-middle">@item.Title</td>
                            <td class="text-center align-middle">
                                <img src="~/image/food/@item.Image" style="height:100px;" />
                            </td>
                            <td class="text-center align-middle">@item.Category.Title</td>

                            @if (item.Status == true)
                            {
                                <td>
                                    <div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">
                                        <i class="bx bxs-circle me-1"></i>Hiển thị
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="badge rounded-pill text-warning bg-light-warning p-2 text-uppercase px-3">
                                        <i class="bx bxs-circle me-1"></i>Tạm tắt
                                    </div>
                                </td>
                            }

                            <td class="text-center align-middle">
                                <a asp-action="Edit" asp-controller="Food" asp-route-Id="@item.Id"><i class="bx bxs-edit"></i></a>
                                <a asp-action="Delete" asp-controller="Food" asp-route-Id="@item.Id" class="ms-3"><i class="bx bxs-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>