 @using FoodOrder.Models.ViewModels
@model CartItemViewModel

<!-- Breadcrumb Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    <ul>
                        <vc:categories></vc:categories>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        @Html.Partial("_Search")
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Frontend/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @* <h2>@Model.Foods.Title</h2> *@
                    <div class="breadcrumb__option">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        @* <a asp-action="Index" asp-controller="Category" asp-route-Slug="@Model.Foods.Slug">@Model.Foods.Category.Title</a> *@
                        @* <span>@Model.Foods.Title</span> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <form asp-action="UpdateCart" asp-controller="Cart"  method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                          @if(Model.CartItems.Count() > 0)
					       {
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                                @foreach (var item in Model.CartItems)
                                {
                                    

                                    <tr>
                                        <td class="shoping__cart__item">
                                                <img src="~/image/food/@item.Image" height: 200px; alt="">
                                            <h5>@item.FoodName</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.Price.ToString("##,###")
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                        <a asp-action="Decrease" asp-controller="Cart" asp-route-Id="@item.FoodId"><span class="dec qtybtn">-</span></a>
                                                        <input type="hidden" name="FoodId" />
                                                        <input type="text" name="quantity" value="@item.Quantity">
                                                        <a asp-action="Increase" asp-controller="Cart" asp-route-Id="@item.FoodId"> <span class="inc qtybtn">+</span></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @Model.CartItems.Where(x => x.FoodId == item.FoodId).Sum(x => x.Quantity * x.Price).ToString()
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a asp-action="Remove" asp-controller="Cart" asp-route-Id="@item.FoodId" class="btn btn-danger"><span class="icon_close"></span></a>
                                        </td>
                                        
                                    </tr>
                                    }
                               
                                </tbody>
                                
                            } else
                            {
                            <h4>Không món ăn nào!</h4>
                            }
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <button type="submit" class="primary-btn cart-btn cart-btn-right">
                            <span class="icon_loading"></span> Update Cart
                        </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                       
                            <h5>Phiếu giảm giá</h5>
                            <form >
                                <input type="text" class=" coupon-value" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn btn-apply-coupon">Ap dụng</button>
                                <p><span class="text text-success" value="apply">@Model.CouponCode</span></p>
                            </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>GrandTotal: @Model.GrandTotal.ToString("##,###")</span></li>
                        <li>Total <span>@Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("##,###")</span></li>
                    </ul>
                    <a asp-action="Index" asp-controller="Checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>
@section Scripts {
    <script>
        $(".btn-apply-coupon").click(function (event) {
            event.preventDefault(); // Prevent form submission

            var coupon_value = $(".coupon-value").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCoupon", "Cart")",
                data: { coupon_value: coupon_value },
                success: function (result) {
                    if (result.success) {
                        alert("Áp phiếu giảm giá thành công");
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi áp dụng phiếu giảm giá.");
                }
            });
        });
    </script>
}
