 @using FoodOrder.Models.ViewModels
@model CartItemViewModel

<!-- Breadcrumb Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    <ul>
                        <vc:categories></vc:categories>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        @Html.Partial("_Search")
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Frontend/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @* <h2>@Model.Foods.Title</h2> *@
                    <div class="breadcrumb__option">
                        <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                        <a asp-action="Index" asp-controller="Cart" >Giỏ hàng</a>
                        @* <span>@Model.Foods.Title</span> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                          @if(Model.CartItems.Count() > 0)
					       {
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Gía</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                                @foreach (var item in Model.CartItems)
                                {
                                            <form asp-action="UpdateCart" asp-controller="Cart"  asp-route-Id="@item.FoodId">

                                    <tr>
                                        <td class="shoping__cart__item">
                                                <img src="~/image/food/@item.Image" style="height: 200px; width:50%;" alt="">
                                            <h5>@item.FoodName</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                                @item.Price.ToString("#,##0 VND")
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" Id="quantity" name="quantity" value="@item.Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @Model.CartItems.Where(x => x.FoodId == item.FoodId).Sum(x => x.Quantity * x.Price).ToString()
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a asp-action="Remove" asp-controller="Cart" asp-route-Id="@item.FoodId" class="btn btn-danger"><span class="icon_close"></span></a>
                                        </td>
                                            
                                        
                                    </tr>
                                    <tr  class="text-center">
                                        <td colspan="8" class="shoping__cart__item__close">
                                                <button type="submit" class="primary-btn ">
                                                    <span class="icon_loading"></span> cập nhật
                                                </button>
                                            </td>
                                    </tr>
                                    </form>


                                    
                                
                                }
                               
                                </tbody>
                                
                            } else
                            {
                            <h4>Không món ăn nào!</h4>
                            }
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
           
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                       
                            <h5>Phiếu giảm giá</h5>
                            <form >
                                <input type="text" class=" coupon-value" placeholder="nhập phiếu giảm giá">
                                <button type="submit" class="site-btn btn-apply-coupon">Ap dụng</button>
                                <p><span class="text text-success" value="apply">@Model.CouponCode</span></p>
                            </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">

                        <div asp-validation-summary="ModelOnly" class="text-danger">
                        </div>




                        <div class="form-group">
                            <label>Chọn Tỉnh thành phố</label>
                            <select class="form-control css_select" name="tinh" id="tinh" title="chọn Tỉnh thành">
                                <option value="0">Tỉnh/Thành phố</option>


                            </select>




                        </div>
                        <div class="form-group">
                            <label>Chọn Tỉnh thành phố</label>
                            <select class="form-control css_select" name="quan" id="quan" title="chọn quận huyện">
                                <option value="0">Quận huyện</option>


                            </select>


                            </span>

                        </div>
                        <div class="form-group">
                            <label>Chọn Tỉnh thành phố</label>
                            <select class="form-control css_select" name="phuong" id="phuong" title="chọn phường xã">
                                <option value="0">Phường xã</option>


                            </select>


                            </span>

                        </div>




                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-add-shipping" type="submit">
                                tính phí ship
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng:</h5>
                    <ul>
                        <li>Tổng tiền <span> @Model.GrandTotal.ToString("#,##0 VND")</span></li>
                        <li>
                        <li>Tổng tiền (đã bao gồm phí vận chuyển) <span>@((Model.CartItems.Sum(x => x.Quantity * x.Price) + Model.ShippingCost).ToString("#,##0 VND"))</span></li>
                        </span></li>
                        <li>Phí vận chuyển <span>@Model.ShippingCost.ToString("#,##0 VND")</span></li>
                    </ul>
                    <a asp-action="Index" asp-controller="Checkout" class="primary-btn">Thanh toán</a>
                </div>
            </div>
        </div>
        
    </div>
</section>

@section Scripts {
    <script>
        $(".btn-apply-coupon").click(function (event) {
            event.preventDefault(); // Prevent form submission

            var coupon_value = $(".coupon-value").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCoupon", "Cart")",
                data: { coupon_value: coupon_value },
                success: function (result) {
                    if (result.success) {
                        alert("Áp phiếu giảm giá thành công");
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi áp dụng phiếu giảm giá.");
                }
            });
        });
    </script>
    <script>
        $(".btn-add-shipping").on("click", function () {
            var tinh = $("#tinh").find("option:selected").text();
            var quan = $("#quan").find("option:selected").text();
            var phuong = $("#phuong").find("option:selected").text();

            // var price = $("#price-shipping").val();
            if (tinh == "" || quan == "" || phuong == "") {
                alert("Làm ơn ko bỏ trống");
            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetShipping", "Cart")",
                    data: { tinh: tinh, quan: quan, phuong: phuong },
                    success: function (result) {
                        if (result.success) {
                            // alert("Thêm vận chuyển thành công");
                            location.load();

                        } else if (result.duplicate) {
                            alert("Có lỗi");

                        }


                    }



                });

            }
        });


    </script>

    <script>
        $(document).ready(function () {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error == 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });
                    $("#tinh").change(function (e) {
                        var idtinh = $(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error == 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });
                                //Lấy phường xã
                                $("#quan").change(function (e) {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error == 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });

                            }
                        });
                    });

                }
            });
        });
    </script>
}
